body {
  font-family: "Roboto", ;
  color: ;
  background-color: ;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link-nav {
    
}

.link-adress {

}

.title-main {

}

.title-potential {

}