/*.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}*/

/*.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}*/



body {
  font-family: "Roboto", sans-serif;
  color: #2E2F42;
  background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.header-container {}

.nav-list {}

.nav-link {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.information {}

.information .link-adress {
color: #434455
}


/* Main */
.page-main {

}

/* Section Hero*/
.hero {}

.hero-title {}

.hero-button {}

/*Section Strategy*/
.competence {}

.competence-title {}

.competence-list {}

.link-competence {}

.name-description {}

.description {}

/*Section Our Team*/
.team-section {}

.team-title {}

.team-list {}

.team-item {}

.team-foto {}

.team-name {}

.team-pisition {}


/*Section Portfolio*/
.portfolio-section {}

.portfolio-title {}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-name {}

.portfolio-category {}

/*Footer*/
.footer {}

.footer-logo {}

.footer-text {}




